.lawyer-result-bio {
 color: white;
 font-size: 3vh;
 font-weight: 100;
}

.lawyer-result-body {
 align-items: center;
 background-color: #10172C;
 display: flex;
 flex-wrap: wrap;
 gap: 10px;
 justify-content: space-between;
 margin-bottom: 10px;
 padding: 20px 100px;
}

.lawyer-result-button {
 align-items: center;
 background-color: #AD9779;
 border: 0;
 color: white;
 cursor: pointer;
 display: flex;
 flex: 1;
 font-weight: bold;
 justify-content: center;
 min-height: 40px;
 min-width: 120px;
 margin: 10px 0;
 max-height: 40px;
 max-width: 120px;
}

.lawyer-result-heading {
 color: white;
 flex: 3;
 font-size: 4vh;
 font-weight: bolder;
}